<!doctype html>
<html>
    <head lang="ja">
        <meta charset=utf-8>
        <meta name=description content="">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <title>Kazuo meets bootstrap</title>
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
        <link href="css/style.css" rel="stylesheet" media="screen">
        <link rel=author href="humans.txt">
    </head>

  <body>
    <div class="container">
      <header>
        <img src="./img/kazuo.jpg" alt="kazuo" class="img-polaroid kazuo">
        <nav>
          <ul class="nav nav-tabs">
            <li class="active"><a href="">プロフィール</a></li>
            <li><a href="">年譜</a></li>
            <li><a href="">データファイル</a></li>
            <li><a href="">経営哲学</a></li>
            <li><a href="">社会貢献活動</a></li>
            <li><a href="">出版物のご案内</a></li>
            <li><a href="">フォトライブラリ</a></li>
          </ul>
        </nav>
      </header>